In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()

In [9]:
df = pd.DataFrame(iris.data,columns=iris.feature_names)

In [10]:
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [11]:
df['target'] = iris.target

In [12]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [16]:
df['target'].unique()
X = df.drop(['target'],axis='columns')
y = df['target']
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

30

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [22]:
model = RandomForestClassifier(n_estimators=10)

In [23]:
model

RandomForestClassifier(n_estimators=10)

In [24]:
model.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [25]:
model.score(X_test,y_test)

0.9666666666666667

In [27]:
#tuning the n_estimators parameter 
max_accuracy = 0
optimum_n_estimator_parameter=0
for i in range(1,21):
    model_RF = RandomForestClassifier(n_estimators=i)
    model_RF.fit(X_train,y_train)
    accuracy = model_RF.score(X_test,y_test)
    if accuracy > max_accuracy:
        max_accuracy = accuracy
        optimum_n_estimator_parameter=i
(max_accuracy,optimum_n_estimator_parameter)

(1.0, 4)