In [2]:
import pandas as pd
import numpy as np
%ls

hiring.csv  Hiring_model.ipynb

In [3]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [8]:
df[df['experience'].isnull()]

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000

In [41]:
df['experience'].fillna(0,inplace=True)
df['test_score(out of 10)'].fillna(0,inplace=True)
l = [0,0,5,2,7,3,10,11]
df['experience']=l
X = df.drop('salary($)',axis='columns')
X['experience']=l
y = df['salary($)']

In [43]:
X.shape

(8, 3)

In [44]:
y.shape

(8,)

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [46]:
len(X_train),len(X_test)

(6, 2)

In [47]:
from sklearn import linear_model as lm
reg = lm.LinearRegression()
reg

LinearRegression()

In [48]:
reg.fit(X_train,y_train)

LinearRegression()

In [50]:
reg.coef_

array([3003.79492881, 2136.15817843, 1881.39034589])

In [51]:
reg.intercept_

18070.798385342394

In [53]:
reg.score(X_test,y_test)

0.6788782751836946